exportedData/*
metadata/*
*.xlsx
revision.py
**/__pycache__/
**/rawfeatures/__pycache__/
literature/
small_tests.py
testSubjectsCollective.zip
ckhExportedDataCI/*
ckhExportedDataSTD/*
small_tests.py
R/*
**/Datasets_CI/*
**/Datasets_Liaw/*
**/Datasets_SD/*
**/feature_list/*
**/R2_scores/*
**/NN_models/*
**/SK_models/*
*.csv
datasets/test.py