exportedData/*
metadata/*
*.xlsx
revision.py
**/__pycache__/
**/rawfeatures/__pycache__/
literature/
small_tests.py
testSubjectsCollective.zip
ckhExportedDataCI/*
ckhExportedDataSTD/*
datasets/*
/rawfeatures/small_tests.py