exportedData/*
metadata/*
*.xlsx
revision.py
**/__pycache__/
**/rawfeatures/__pycache__/
literature/
testSubjectsCollective.zip
ckhExportedDataCI/*
ckhExportedDataSTD/*
R/*
**/Datasets_CI/*
**/Datasets_Liaw/*
**/Datasets_SD/*
**/feature_list/*
**/R2_scores/*
**/Models/Datasets*
*.csv
datasets/test.py
**/DOT_files/*
**/DT_plots/*